*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; 
}
/* .custom-font {
  font-family: "blockhead-black-face", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
/* typeography {
font-family: "blockhead-plain", sans-serif;
font-weight: 400;
font-style: normal;
} */
/* .AppBar {
  position: relative;
  margin-top: 800px;

/* } */

